version: '3.8'
services:
  backend:
    build: .
    ports:
      - "8111:80"
    container_name: dev-ops-app
    environment:
      - TZ=Asia/Seoul
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
    networks:
      - servernetwork

networks:
  servernetwork:
    external: true
    driver: bridge
